@media (min-width: 1000px){
  #project-body{
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 600px){
  header > .menu-icon {
    display: none;
  }
  header > nav{
    max-height: 100%;
  }
  header > nav > ul {
    padding: 0;
    float: right;
  }
  header > nav > ul > li{
    float: left;
  }
}